<% if type == :edit %>
<% action_url = cat_url(cat) %>
<% else %>
<% action_url = cats_url %>
<% end %>
<form action="<%= action_url %>" method="POST">
<% if type == :edit %>
  <input type="hidden" name="_method" value="PATCH">
<% end %>
  <label> Name:
    <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  <br>
  <label> Birth Date:
    <input type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  </label>
  <br>
  <label> Color:
    <select name="cat[color]">
      <option disabled>-- select color --</option>
      <option value="brown" <%= cat.color == "brown" ? "selected" : ""%>>Brown</option>
      <option value="white" <%= cat.color == "white" ? "selected" : ""%>>White</option>
      <option value="grey" <%= cat.color == "grey" ? "selected" : ""%>>Grey</option>
      <option value="black" <%= cat.color == "black" ? "selected" : ""%>>Black</option>
    </select>
  </label>
  <br>
  <input type="radio" name="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : ""%>>
  <label>Male</label>
  <input type="radio" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : ""%>>
  <label>Female</label>
  <br>
  <label>Description:
    <textarea name="cat[description]">
    <%= cat.description %>
    </textarea>
  </label>
  <br>
  <input type="submit" value="<%= type == :new ? "Create Cat" : "Edit cat!" %>">
  </form>



